<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stayli.app"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="com.huawei.permission.INTELLIGENT_NOTIFICATION_MSG_BRACELET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 -->
    <!-- HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 检测wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 为了获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".app.StayApp"
        android:allowBackup="true"
        android:icon="@mipmap/jing_pic_hd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jing_pic_hd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=100309351"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <activity android:name=".MainActivity"/>
        <activity android:name=".base.BaseActivity"/>
        <activity android:name=".ui.act.PaletteDetailActivity"/>
        <activity android:name=".ui.act.BookDetailActivity"/>
        <activity
            android:name=".ui.act.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.qrcode.DefaultCaptureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.act.ViewAnotherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.qrcode.AliCaptureActivity"/>
        <activity android:name=".ui.bd_fanyi.FanYiActivity"/>
        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <activity
            android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/upsdkDlDialog">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar"/>
        </activity>
        <activity
            android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/upsdkDlDialog">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <activity
            android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="com.stayli.app.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true"/>
        <provider
            android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"
            android:authorities="com.stayli.app.updateSdk.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>

        <service
            android:name="com.huawei.updatesdk.service.deamon.download.DownloadService"
            android:exported="false"/>

        <receiver android:name=".listener.HuaweiPushRevicer">
            <intent-filter>

                <!-- 必须,用于接收TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK"/>
                <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息 -->
                <action android:name="com.huawei.intent.action.PUSH"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".listener.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:process=":alarm">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ALARM"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".listener.AlarmService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":alarm"/>

        <!-- <receiver -->
        <!-- android:name=".listener.MyDeviceReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:permission="android.permission.BIND_DEVICE_ADMIN"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.device_admin" -->
        <!-- android:resource="@xml/device_admin_sample" /> -->


        <!-- <intent-filter> -->
        <!-- <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service
            android:name=".listener.NLService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":DaemonService">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <activity android:name=".ui.face.FaceActivity">
        </activity>
    </application>

</manifest>